
{% extends 'plantilla.html' %}
{% block headingA %}
    {{ headline }}
{% endblock headingA %}

{% block navegacion %}
    <ul>
        {% for pagina in listaPaginas %}
            <li><a href = "{{ url_for('contenido', name = pagina) }}">{{ pagina }}</a></li>
        {% endfor %}
    </ul>
{% endblock navegacion %}

{% block headingM %}
    {{ headline }}
{% endblock headingM %}

{% block body %}
<p>Estamos muy contentos de que hayas venido a mi pagina, mola mazo.</p>
<p> Aqui no tengo aboslutamente nada que poner, vaya movida</p>
{% endblock body %}