{% extends 'plantilla.html' %}
{% block headingA %}
    {{ headline }}
{% endblock headingA %}

{% block navegacion %}
    <ul>
        {% for pagina in listaPaginas %}
            <li><a href = "{{ url_for('contenido', name = pagina) }}">{{ pagina }}</a></li>
        {% endfor %}
            <li><a href="{{ url_for('index') }}">Ir al inicio</a></li>
    </ul>
{% endblock %}
{% block headingM %}
    {{ headline }}
{% endblock headingM %}
{% block body %}
    <div class="container">
        <div class="form-group">
            <form action = "{{ url_for('notas') }}" method = "post">
            <input type = "text" id="input01" class="form-control" name = "nota" placeholder = "Introduce la nota (pon ##borrar## para vaciar la lista)" autofocus multiple>
            <button type="submit" id="boton01" class="btn btn-primary">Inserta nota</button>
            </form>
        </div>
        <div>
            <ul>
                {% for nota in notas %}
                    {% if notas.index(nota) % 2 == 0 %}
                        <div class="alert alert-primary" role="alert"><li>{{ nota }}</li></div>
                    {% else %}
                        <div class="alert alert-light" role="alert"><li>{{ nota }}</li></div>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock body %}